
form {
  margin: auto;
  width: 40%;
  /* border: 2px solid black; */
  padding: 10px;

  color: white;


}
p{
  color: red;
  margin-left: 60px;
  margin-top: 20px;
}
.form {
  background-color: #232429;
  width: 400px;
  padding: 40px;
  box-shadow: 0 0 10px 0 rgba(8, 8, 8, 0);
  border-radius: 10px;
  /* text-align: center; */
  margin: 0 auto;
  margin-top: 18vh;

}

input[type=text], input[type=password], input[type=email] {
  /* width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  color: #333; */
  border: none;
  border-bottom: solid rgb(143, 143, 143) 1px;

  margin-bottom: 30px;

  background: none;
  color: rgba(255, 255, 255, 0.555);

  height: 35px;
  width: 300px;
}
button {
  /* background-color: #333;
  color: white; */
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  /* cursor: pointer; */
  width: 100%;
  border-radius: 4px;
  /* transition: .3s; */
  font-weight: 500;
  cursor: pointer;

  border: none;
  border-radius: 8px;

  box-shadow: 2px 2px 7px #38d39f70;

  background: #38d39f;
  color: rgba(255, 255, 255, 0.8);

  /* width: 80px; */

  transition: all 1s;
}
button:hover {

  color:var(--main-color);
  color: rgb(255, 255, 255);

  box-shadow: none;
}
.container {
  padding: 16px;
}
h1 {
  text-align: center;
   color: white;

  font-size: 35px;
  font-weight: 800;
}
b{
  color: #333;
}



.p-error{
  color:red;
}

.d-h-a{
  font-size: small;
  margin-left: 44px;
  margin-top: 17px;

}
