<section class="home" id="home">
  <div class="home-content">
    <div class="image">
      <!-- <img
        src="https://media.istockphoto.com/id/525345961/photo/afro-american-male-basketball-player-with-a-ball.jpg?s=612x612&w=0&k=20&c=3l1n8l-PSNoLdQVy3toKCzG1jgoN6jGhM6vgoHrE6nU="
        alt=""
      /> -->
    </div>
    <h1>Hi, I'm <span>Jhon</span></h1>
    <!-- <div class="text-animate">
      <h3>Developer</h3>
    </div> -->
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima voluptas
      veritatis sunt ex voluptates amet harum ipsa quia pariatur, maiores eius
      non magnam recusandae nostrum asperiores itaque unde similique molestiae
      temporibus explicabo dolor autem.
    </p>
    <div class="home-sci">
      <a href="https://www.facebook.com/"><i class="bx bxl-facebook"></i></a>
      <a href="https://www.twitter.com/"><i class="bx bxl-twitter"></i></a>
    </div>
  </div>
  <div class="sub-gear">
    <h5>What would like to design?</h5>
    <h6>Sublimated Gear</h6>
    <div class="links">
      <ul class="links">
        <li>
          <a routerLink="/singlet" >Singlet</a>
        </li>
        <li>
          <a routerLink="/shorts" >Fight Shorts</a>
        </li>
        <li>
          <a routerLink="/compression" >Compression Top(Short-sleve)</a>
        </li>
      </ul>
    </div>
  </div>
</section>


