
/* ######################## main container ######################  */
.container{

  /* border:2px solid red; */
  height:800px;
  width: 90%;
  margin-top: 1rem;
  padding: 1rem;
  /* z-index: ; */


}

 /* -------------------- This is for row -------------------------- */

.row{
  padding: 10px 5px ;
  margin:2px 2px;


}
/* ################################## coulmn 2 ################################ */

.col2{
  background-color: #ffffff;

  /* background-size: cover; */
  padding: 0px 0px ;

  width: 800px;
  height: 720px;
  overflow: hidden;


}
.col2 img{
/* margin-top: -720px; */



}
.col2 a{
  position: absolute;
  padding:2px 2px ;
  color :rgb(254, 105, 105);
  background-color: lightcyan;
  border :2px solid blue;
  margin:2px 10px

}

.col3{
  display: none;
}


.bg{
  background-image: url('../../assets/image/download.jpeg');

  background-size: cover; /* Adjust to your needs */
  background-position: center center;
  /* background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)); */
  /* filter: blur(10px); */
  margin:10px 2px;

}

.column{

}

.section{

  margin-top: 100px;
  width: 79%;
  height: 40px;
  margin-left:180px;

}
.section ul{
  display: flex;
  padding: 2px 10px ;

}

.section ul li{
  text-decoration: none;
  margin-left :70px;
  list-style:none;

}
.section ul li a {
  text-decoration: none;
  color:white;
  transition: .3s;
  cursor: pointer;

}
.section ul li a:hover {
  color:var(--main-color);



}

.background{

}

.--background{

}
.side-panel{

}
.cuff{

}
.piping{

}
.inner-thigh{

}
.piping{

}






.flex{

  display: flex;
  flex-wrap: wrap;
  width: 1000px;
  height: 1440px;

}
.flex a {
  width:200px;
  height:100px;
  margin:2px 2px ;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding-left: 15px;
}

